<div id="topup-main">
    <div class="span6">
        <numpad></numpad>
    </div>
    <div class="span6">
        <hgroup>
            <h4>กรุณาระบุหมายเลข ทรูมูฟ / ทรูมูฟ เอช</h4>
            <h4>ที่ต้องการเติมเงิน</h4>
        </hgroup>
        <input type="text" value={{mobilephone}} disabled/>
        <h4>จากนั้นกดปุ่ม ยืนยัน เพื่อยืนยันการทํารายการ</h4>
    </div>
</div>
<div id="footer-wrapper" class="row">
    <div class="span4 offset8">
        <a href="#/topup/result" class="btn btn-danger">Submit</a>
        <a href="#/back/topup" class="btn btn-primary">Back</a>
        <a href="#/" class="btn">Home</a>
    </div>
</div>